<f:widget.paginate objects="{contentResults}" as="paginatedContentResults"
                   configuration="{itemsPerPage: 30, maximumNumberOfLinks: 7}">
    <table class="neos-table">
        <thead>
        <tr>
            <f:if condition="{perUser}">
                <th class="neos-span4">User</th>
            </f:if>
            <f:if condition="{perContent}">
                <th class="neos-span4">Content</th>
            </f:if>
            <th class="neos-span1">Score</th>
            <th class="neos-span1">Max. Score</th>
            <th class="neos-span2">Started</th>
            <th class="neos-span2">Finished</th>
            <th class="neos-span2">Time spent</th>
            <th class="neos-span1">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{paginatedContentResults}" as="contentResult">
            <tr>
                <f:if condition="{perUser}">
                    <td>{contentResult.account.accountIdentifier}</td>
                </f:if>
                <f:if condition="{perContent}">
                    <td>{contentResult.content.title}</td>
                </f:if>
                <td>{contentResult.score}</td>
                <td>{contentResult.maxScore}</td>
                <td>{contentResult.openedDateTime -> f:format.date(format:'Y-m-d H:i:s')}</td>
                <td>{contentResult.finishedDateTime -> f:format.date(format:'Y-m-d H:i:s')}</td>
                <td>{contentResult.formattedTimeInterval}</td>
                <td class="neos-action">
                    <div class="neos-pull-right">
                        <button class="neos-button neos-button-danger" title="Remove this result" data-toggle="modal"
                                href="#remove-{index}" data-neos-toggle="tooltip">
                            <i class="icon-trash icon-white fas fa-trash-alt"></i>
                        </button>
                        <div class="neos-hide" id="remove-{index}">
                            <div class="neos-modal-centered">
                                <div class="neos-modal-content">
                                    <div class="neos-modal-header">
                                        <button type="button" class="neos-close neos-button"
                                                data-dismiss="modal"></button>
                                        <div class="neos-header">
                                            Confirm deletion
                                        </div>
                                        <div>
                                            <div class="neos-subheader">
                                                <p>
                                                    This content result ({contentResult.score} of
                                                    {contentResult.maxScore} at {contentResult.content.title} in
                                                    {contentResult.formattedTimeInterval}) will be removed permanently.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="neos-modal-footer">
                                        <a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
                                        <f:form action="deleteSingleResult" arguments="{contentResult: contentResult}"
                                                class="neos-inline">
                                            <button type="submit" class="neos-button neos-button-danger"
                                                    title="Confirm deletion">
                                                Delete
                                            </button>
                                        </f:form>
                                    </div>
                                </div>
                            </div>
                            <div class="neos-modal-backdrop neos-in"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:widget.paginate>
