<head>
    <link rel="stylesheet" type="text/css"
          href="{f:uri.resource(path: 'Styles/Includes-built.css', package: 'Neos.Neos')}?bust={neos:backend.cssBuiltVersion()}"/>
    <link rel="stylesheet" type="text/css"
          href="{f:uri.resource(path: 'Styles/FullscreenEditor.css', package: 'Sandstorm.NeosH5P')}"/>
    <script src="{f:uri.resource(path: 'Library/jquery/jquery-2.0.3.js', package: 'Neos.Neos')}"></script>
    <script src="{f:uri.resource(path: '2/js/bootstrap.min.js', package: 'Neos.Twitter.Bootstrap')}"></script>
    <script type="text/javascript">
        function contentPicked(persistenceObjectIdentifier, contentId, title) {
            if (window.parent !== window && window.parent.NeosH5PBrowserCallbacks && window.parent.NeosH5PBrowserCallbacks.contentPicked) {
                window.parent.NeosH5PBrowserCallbacks.contentPicked({persistenceObjectIdentifier, contentId, title});
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            if (window.parent !== window &&
                window.parent.NeosH5PBrowserCallbacks &&
                window.parent.NeosH5PBrowserCallbacks.currentContent) {
                
                const selector = '.h5p-content-table tr[data-contentId="' + window.parent.NeosH5PBrowserCallbacks.currentContent.contentId + '"]';
                const element = document.querySelector(selector);
                if (element) {
                    element.classList.add("h5p-current-content");
                }
            }
        });

    </script>
</head>
