{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">

    <div class="neos-row-fluid">

        <f:for each="{styles}" as="style">
            <link rel="stylesheet" href="{style -> f:format.raw()}"/>
        </f:for>
        <f:for each="{dependencyStyles}" as="style">
            <link rel="stylesheet" href="{style.path -> f:format.raw()}{style.version -> f:format.raw()}"/>
        </f:for>
        <script>
            window.H5PIntegration = {settings -> f:format.raw()};
        </script>
        <f:for each="{scripts}" as="script">
            <script src="{script -> f:format.raw()}"></script>
        </f:for>
        <f:for each="{dependencyScripts}" as="script">
            <script src="{script.path -> f:format.raw()}{script.version -> f:format.raw()}"></script>
        </f:for>

        <legend>{content.title}</legend>
        <div class="h5p-content" data-content-id="{content.contentId}"></div>
    </div>
    <div class="neos-footer">
        <neos:link.module
            title="Back to overview"
            path="h5p/content"
            action="index"
            class="neos-button">
            Back
        </neos:link.module>
        <neos:link.module
            title="Display results for this content"
            path="h5p/content"
            action="results"
            arguments="{content:content}"
            class="neos-button">
            Results
        </neos:link.module>
        <button class="neos-button neos-button-danger" title="Remove this content" data-toggle="modal" href="#remove-content" data-neos-toggle="tooltip">
            Delete
        </button>
        <div class="neos-hide" id="remove-content">
            <div class="neos-modal-centered">
                <div class="neos-modal-content">
                    <div class="neos-modal-header">
                        <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                        <div class="neos-header">
                            Confirm deletion
                        </div>
                        <div>
                            <div class="neos-subheader">
                                <p>
                                    {content.title} will be deleted permanently.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="neos-modal-footer">
                        <a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
                        <f:form action="delete" arguments="{content: content}" class="neos-inline">
                            <button type="submit" class="neos-button neos-button-danger" title="Confirm deletion">
                                Delete
                            </button>
                        </f:form>
                    </div>
                </div>
            </div>
            <div class="neos-modal-backdrop neos-in"></div>
        </div>
        <neos:link.module
            title="Edit this content"
            path="h5p/content"
            action="edit"
            arguments="{content:content}"
            class="neos-button neos-button-primary">
            Edit
        </neos:link.module>
    </div>
</f:section>
