{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule"/>

<f:section name="content">
    <div class="neos-row-fluid">
        <f:widget.paginate objects="{contents}" as="paginatedContents" configuration="{itemsPerPage: 30, maximumNumberOfLinks: 7}">
            <table class="neos-table">
                <thead>
                <tr>
                    <th class="neos-span5">Title</th>
                    <th class="neos-span3">Library</th>
                    <th class="neos-span1">Content&nbsp;ID</th>
                    <th class="neos-span2">Created</th>
                    <th class="neos-span2">Updated</th>
                    <th class="neos-span2">Author</th>
                    <th class="neos-span1">&nbsp;</th>
                </tr>
                </thead>
                <tbody>

                <f:for each="{paginatedContents}" as="content" key="index">
                    <tr>
                        <td>
                            <neos:link.module
                                title="View Content"
                                path="h5p/content"
                                action="display"
                                arguments="{content:content}">
                                {content.title}
                            </neos:link.module>
                        </td>
                        <td>
                            {content.library.name}
                        </td>
                        <td>
                            {content.contentId}
                        </td>
                        <td>
                            {content.createdAt -> f:format.date(format:'Y-m-d H:i')}
                        </td>
                        <td>
                            {content.updatedAt -> f:format.date(format:'Y-m-d H:i')}
                        </td>
                        <td>
                            {content.account.accountIdentifier}
                        </td>
                        <td class="neos-action">
                            <div class="neos-pull-right">
                                <neos:link.module
                                    title="View Content"
                                    path="h5p/content"
                                    action="display"
                                    arguments="{content:content}"
                                    additionalAttributes="{data-neos-toggle: 'tooltip', class: 'neos-button neos-button-primary'}">
                                    <i class="icon-info-sign icon-white"></i>
                                </neos:link.module>
                                <neos:link.module
                                    title="Edit Content"
                                    path="h5p/content"
                                    action="edit"
                                    arguments="{content:content}"
                                    additionalAttributes="{data-neos-toggle: 'tooltip', class: 'neos-button neos-button-primary'}">
                                    <i class="icon-pencil icon-white"></i>
                                </neos:link.module>
                                <button class="neos-button neos-button-danger" title="Remove this content" data-toggle="modal" href="#remove-{index}" data-neos-toggle="tooltip">
                                    <i class="icon-trash icon-white"></i>
                                </button>
                                <div class="neos-hide" id="remove-{index}">
                                    <div class="neos-modal-centered">
                                        <div class="neos-modal-content">
                                            <div class="neos-modal-header">
                                                <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                                                <div class="neos-header">
                                                    Confirm deletion
                                                </div>
                                                <div>
                                                    <div class="neos-subheader">
                                                        <p>
                                                            {content.title} will be deleted permanently.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="neos-modal-footer">
                                                <a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
                                                <f:form action="delete" arguments="{content: content}" class="neos-inline">
                                                    <button type="submit" class="neos-button neos-button-danger" title="Confirm deletion">
                                                        Delete
                                                    </button>
                                                </f:form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="neos-modal-backdrop neos-in"></div>
                                </div>
                             </div>
                        </td>
                    </tr>
                </f:for>

                </tbody>
            </table>
        </f:widget.paginate>
    </div>
    <div class="neos-footer">
        <neos:link.module
            title="New H5P Content"
            class="neos-button neos-button-primary"
            path="h5p/content"
            action="new">
            New H5P Content
        </neos:link.module>
    </div>
</f:section>
