{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="subtitle">
    <div class="neos-module-container">
        <h2>Create a new H5P content element</h2>
    </div>
</f:section>

<f:section name="content">
    <f:form action="create" controller="Backend\Content" id="h5p-content-form">

        <f:render partial="ContentForm" />

        <div class="neos-footer">
            <neos:link.module
                title="Back to overview"
                path="h5p/content"
                action="index"
                class="neos-button">
                Cancel
            </neos:link.module>
            <f:form.submit name="submit" value="Create H5P Content" class="neos-button neos-button-primary"/>
        </div>
    </f:form>

    <f:render partial="ContentEditorScriptsAndStyles" arguments="{_all}"/>

</f:section>
