.neos.neos-module.h5p-fullscreen-editor .neos-row-fluid {
    padding-left: 16px;
}
.neos.neos-module.h5p-fullscreen-editor .neos-row-fluid .neos-row-fluid,
.neos.neos-module.h5p-fullscreen-editor .neos-row-fluid.neos-row-fluid--nopadding {
    padding-left: 0;
}

.neos.neos-module.h5p-fullscreen-editor .neos-row-fluid .neos-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.neos.neos-module.h5p-fullscreen-editor table td > .neos-pull-right > .neos-button.neos-button-primary {
    background: #444;
}

.h5p-content-table tr.h5p-current-content td {
    background: #444;
}

.h5p-content-table tr.h5p-current-content td > .neos-pull-right > .neos-button.neos-button-primary {
    display: none;
}
