Neos:
  Neos:
    modules:
      'h5p':
        label: 'H5P Rich Content'
        controller: 'Sandstorm\NeosH5P\Controller\Backend\H5PBackendController'
        description: 'foo'
        icon: icon-briefcase
#        submodules:
#          workspaces:
#            label: 'Neos.Neos:Modules:workspaces.label'
#            controller: 'Neos\Neos\Controller\Module\Management\WorkspacesController'
#            description: 'Neos.Neos:Modules:workspaces.description'
#            icon: icon-th-large
#          history:
#            label: 'Neos.Neos:Modules:history.label'
#            controller: 'Neos\Neos\Controller\Module\Management\HistoryController'
#            description: 'Neos.Neos:Modules:history.description'
#            icon: icon-calendar


  Flow:
    # We need the tag "@variable" as an ignored annotation, because otherwise the parsing of the
    # H5PFrameworkInterface causes an reflection error
    reflection:
      ignoredTags:
        'variable': true


    resource:
      storages:
        h5pLibraryStorage:
          storage: 'Sandstorm\NeosH5P\Resource\Storage\ExtractedH5PFileStorage'

      collections:
        h5p:
          storage: 'h5pLibraryStorage'
          target: 'localWebDirectoryH5PTarget'

      targets:
        localWebDirectoryH5PTarget:
          target: 'Neos\Flow\ResourceManagement\Target\FileSystemTarget'
          targetOptions:
            path: '%FLOW_PATH_WEB%_Resources/Static/H5P/'
            baseUri: '_Resources/Static/H5P/'
            subdivideHashPathSegment: false
